{% extends "main/base.html" %}

{% block title %}
Смена пароля
{% endblock %}

{% block style %}
.main{
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   text-align:center;
   transform: translate(-50%, -50%)
}
{% endblock %}

{% block content %}
<main class="main">
    {% if validlink %}
    {% load crispy_forms_tags %}
    <h1 style="text-align:center; color:#00008B;">Смена пароля</h1>
        <p style="margin-bottom:5%;">Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
        <form action="" method="post">
            <ul>
            {% for field in form %}
            {% if field.errors %}
            <li>{{ field.errors }}</li>
            {% endif %}
            {% endfor %}
        </ul>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Сменить пароль" class="btn btn-outline-primary me-2" style="margin-top:5%;">
        </form>
    {% else %}
        <h1>Сбой сброса пароля</h1>
        <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
    {% endif %}

</main>
{% endblock %}