{% extends 'main/base.html' %}

{% block title %}
Сброс пароля
{% endblock %}

{% block style %}
.reset{
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   text-align:center;
   transform: translate(-50%, -50%)
}
.form-input{
border-radius:10px;
border: 2px solid #00008B;
padding: 10px;
}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="reset">
    <h1 style="text-align:center; color:#00008B; margin-bottom:20%;">Сброс пароля</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Сбросить" class="btn btn-outline-primary me-2" style="text-align:center; margin-top:20%;">
    </form>
</div>
{% endblock %}
