{% extends "main/base.html" %}

{% block title %}
Сброс пароля
{% endblock %}

{% block style %}
.change-password{
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   text-align:center;
   transform: translate(-50%, -50%)
}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="change-password">
    <form action="" method="post">
        {% csrf_token %}
        <h2 style="text-align:center; color:#00008B; ">Смена пароля</h2>
        <ul>
            {% for field in form %}
            {% if field.errors %}
            <li>{{ field.errors }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {{ form|crispy }}
        <input type="submit" value="Сменить пароль" class="btn btn-outline-primary me-2" style="margin-top:5%;">
    </form>
    <ul></ul>
</div>
{% endblock %}