{% extends "main/base.html" %}

{% block title %}
Профиль
{% endblock %}

{% block style %}
.profile{
   margin: 0;
   position: absolute;
   top: 45%;
   left: 50%;
   margin-right: -50%;
   text-align:center;
   transform: translate(-50%, -50%);
   border-radius:10px;
   border: 2px solid #00008B;
   padding: 10px;
}
{% endblock %}

{% block content %}
<div class="profile">
    <h2>Здравствуйте, {{ user.get_username }}</h2>
    <p>{{ message }}</p>
    {% if counter > 0 or counter == -1 %}
    <p> Запросов осталось: {{counter}}</p>
    <p><a href="https://github.com/romantihiy/CodeOwl">Скачать расширение</a></p>
    {% endif %}
    <p><a href="{% url 'change_password' %}">Сменить пароль</a></p>
</div>
{% if not message %}
<script>
    window.opener.postMessage('{{ token }}', '*');
</script>
{% endif %}
{% endblock %}